/* This file define ressource available on HPC, and ressource that can be asked for each process (in modules)
* You can use the keyword withLabel: 'label' to reach in on go several processes having this label
* You can use the keyword withName: 'processName' to directly set values for a specific process
*/

process {
    cpus = 1
    time = '1h'
    maxForks = 8
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withLabel: 'fastqc' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'samtools' {
        cpus = 2
        time = '1d'
    }
    withLabel: 'bowtie2' {
        cpus = 2
        time = '1d'
    }
    withLabel: 'breseq' {
        cpus = 2
        time = '12h'
    }
}
