/*
 * Main pipeline configuration for ViroScan-nf
 */
manifest {
    name        = 'ViroScan-nf'
    author      = 'Sarah Bouzidi'
    homepage    = 'https://github.com/srh-bzd/ViroScan-nf'
    description = 'Nextflow pipeline for separating host and viral reads and identifying viral mutations from sequencing data.'
    mainScript  = 'main.nf'
    nextflowVersion = '>=24.10.5'
    version     = '0.1.0'
    keywords    = 'viral, host, alignment, variant_calling, fastp, bowtie2, breseq, samtools, multiqc'
    tags        = 'viral, host, sequencing, trimming, alignment, variant_calling, QC, metrics'
}


/*
 * Execution profiles
 */
profiles {

    // Local machine configuration
    local {
        includeConfig "$baseDir/config/ressources/local.config"
    }
    
    // IFB cluster configuration (SLURM)
    ifb {
        includeConfig "$baseDir/config/ressources/ifb.config"
    }

    // Containerized software environments
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        includeConfig "$baseDir/config/softwares.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/softwares.config"
    }

    // Predefined test dataset
    test {
        params.reads = "$baseDir/test/*R{1,2}.fq.gz"
        params.host_genome = "$baseDir/test/hpv16.fasta"
        params.host_genome_index = null
        params.viral_genome = "$baseDir/test/hpv6-11.gbk"
        params.outdir = "$baseDir/results"
        params.paired_end = true
    }

    // Debug mode to print environment variables and commands
    debug {
        process.beforeScript = 'echo DEBUG MODE; env | sort'
    }
}