/*
 * IFB execution configuration for ViroScan-nf
 */

process {
    executor = 'slurm'
    queue = { task.time <= 24.h ? 'fast' : 'long' }
    scratch = true
}

process {
    withLabel: fastp {
        cpus = 16
        memory = '32 GB'
        time = '02:00:00'
    }

    withLabel: bowtie2 {
        cpus = 16
        memory = '64 GB'
        time = '04:00:00'
    }

    withLabel: samtools {
        cpus = 16
        memory = '32 GB'
        time = '02:00:00'
    }

    withLabel: breseq {
        cpus = 16
        memory = '64 GB'
        time = '04:00:00'
    }

    withLabel: multiqc {
        cpus = 8
        memory = '16 GB'
        time = '01:00:00'
    }
}
