/*
 * Local execution configuration for ViroScan-nf
 */

process {
    withLabel: fastp {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withLabel: multiqc {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withLabel: bowtie2 {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withLabel: samtools {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withLabel: breseq {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withLabel: python {
        cpus = 1
        memory = '4 GB'
        time = '30m'
    }
}