/*
 * Containers configuration for execution of ViroScan-nf
 */

process {
    withLabel: fastp {
        container = 'quay.io/biocontainers/fastp:0.26.0--heae3180_0'
    }

    withLabel: multiqc {
        container = 'quay.io/biocontainers/multiqc:1.31--pyhdfd78af_0'
    }

    withLabel: bowtie2 {
        container = 'quay.io/biocontainers/bowtie2:2.3.4.1--py35h2d50403_1'
    }

    withLabel: samtools {
        container = 'quay.io/biocontainers/samtools:1.9--h57cc563_6'
    }

    withLabel: breseq {
        container = 'quay.io/biocontainers/breseq:0.39.0--h077b44d_3'
    }

    withLabel: python {
        container = 'quay.io/biocontainers/python:3.8.0--2'
    }
}